{% extends 'base.html.twig' %}

{% block title %}Squirrel Blog{% endblock %}

{% block body %}
    <div class="container">
        {{ include("homepage/header.html.twig", {"user": user, "header": header}) }}
        {{ include("article/all.html.twig", {"articles": articles}) }}
    </div>
{% endblock %}
