<div class="article__short">
    <h3>
        {{ article.title }}
    </h3>
    <div class="article__short_text">
        {{ article.shortText }}
    </div>
    <div class="article__short_footer">
        <a class="article__more" href="article/{{ article.id }}">Read more...</a>
    </div>
</div>